$icomoon-font-path: "fonts" !default;

$icon-globe: "\e900";
$icon-chemistry: "\e901";
$icon-ban: "\e902";
$icon-emotsmile: "\e903";
$icon-exclamation: "\e904";
$icon-question: "\e905";
$icon-info: "\e906";
$icon-clock: "\e907";
$icon-compass: "\e908";
$icon-close: "\e909";
$icon-check: "\e90a";
$icon-minus: "\e90b";
$icon-plus: "\e90c";
$icon-cloud-upload: "\e90d";
$icon-cloud-download: "\e90e";
$icon-control-end: "\e90f";
$icon-control-forward: "\e910";
$icon-control-pause: "\e911";
$icon-control-play: "\e912";
$icon-control-rewind: "\e913";
$icon-control-start: "\e914";
$icon-credit-card: "\e915";
$icon-crop: "\e916";
$icon-cup: "\e917";
$icon-cursor: "\e918";
$icon-cursor-move: "\e919";
$icon-diamond: "\e91a";
$icon-direction: "\e91b";
$icon-directions: "\e91c";
$icon-disc: "\e91d";
$icon-drawar: "\e91e";
$icon-drop: "\e91f";
$icon-earphones: "\e920";
$icon-earphones-alt: "\e921";
$icon-energy: "\e922";
$icon-envelope-open: "\e923";
$icon-envolope: "\e924";
$icon-envolope-letter: "\e925";
$icon-equalizer: "\e926";
$icon-event: "\e927";
$icon-eye: "\e928";
$icon-eyeglass: "\e929";
$icon-feed: "\e92a";
$icon-film: "\e92b";
$icon-fire: "\e92c";
$icon-flag: "\e92d";
$icon-doc: "\e92e";
$icon-docs: "\e92f";
$icon-folder: "\e930";
$icon-folder-alt: "\e931";
$icon-game-controller: "\e932";
$icon-ghost: "\e933";
$icon-globe-alt: "\e934";
$icon-graduation: "\e935";
$icon-graph: "\e936";
$icon-grid: "\e937";
$icon-handbag: "\e938";
$icon-heart: "\e939";
$icon-home: "\e93a";
$icon-hourglass: "\e93b";
$icon-layers: "\e93c";
$icon-like: "\e93d";
$icon-dislike: "\e93e";
$icon-link: "\e93f";
$icon-list: "\e940";
$icon-lock: "\e941";
$icon-lock-open: "\e942";
$icon-key: "\e943";
$icon-login: "\e944";
$icon-logout: "\e945";
$icon-loop: "\e946";
$icon-magic-wand: "\e947";
$icon-magnet: "\e948";
$icon-magnifier: "\e949";
$icon-magnifier-add: "\e94a";
$icon-magnifier-remove: "\e94b";
$icon-map: "\e94c";
$icon-location-pin: "\e94d";
$icon-microphone: "\e94e";
$icon-mouse: "\e94f";
$icon-music-tone: "\e950";
$icon-music-tone-alt: "\e951";
$icon-playlist: "\e952";
$icon-mustache: "\e953";
$icon-note: "\e954";
$icon-notebook: "\e955";
$icon-options: "\e956";
$icon-options-vertical: "\e957";
$icon-menu: "\e958";
$icon-organization: "\e959";
$icon-paper-clip: "\e95a";
$icon-paper-plane: "\e95b";
$icon-pencil: "\e95c";
$icon-people: "\e95d";
$icon-picture: "\e95e";
$icon-pie-chart: "\e95f";
$icon-pin: "\e960";
$icon-power: "\e961";
$icon-present: "\e962";
$icon-printer: "\e963";
$icon-puzzle: "\e964";
$icon-refresh: "\e965";
$icon-reload: "\e966";
$icon-rocket: "\e967";
$icon-plane: "\e968";
$icon-screen-smartphone: "\e969";
$icon-screen-tablet: "\e96a";
$icon-screen-desktop: "\e96b";
$icon-wrench: "\e96c";
$icon-settings: "\e96d";
$icon-share: "\e96e";
$icon-share-alt: "\e96f";
$icon-shield: "\e970";
$icon-shuffle: "\e971";
$icon-frame: "\e972";
$icon-size-actual: "\e973";
$icon-size-fullscreen: "\e974";
$icon-speedometer: "\e975";
$icon-star: "\e976";
$icon-support: "\e977";
$icon-symble-female: "\e978";
$icon-symbol-male: "\e979";
$icon-tag: "\e97a";
$icon-target: "\e97b";
$icon-trash: "\e97c";
$icon-trophy: "\e97d";
$icon-umbrella: "\e97e";
$icon-user: "\e97f";
$icon-user-female: "\e980";
$icon-user-follow: "\e981";
$icon-user-following: "\e982";
$icon-user-unfollow: "\e983";
$icon-vector: "\e984";
$icon-volume-1: "\e985";
$icon-volume-2: "\e986";
$icon-volume-off: "\e987";
$icon-wallet: "\e988";
$icon-action-redo: "\e989";
$icon-action-undo: "\e98a";
$icon-anchor: "\e98b";
$icon-arrow-down: "\e98c";
$icon-arrow-left: "\e98d";
$icon-arrow-right: "\e98e";
$icon-arrow-up: "\e98f";
$icon-arrow-down-circle: "\e990";
$icon-arrow-left-circle: "\e991";
$icon-arrow-right-circle: "\e992";
$icon-arrow-up-circle: "\e993";
$icon-badge: "\e994";
$icon-bag: "\e995";
$icon-basket: "\e996";
$icon-basket-loaded: "\e997";
$icon-bell: "\e998";
$icon-book-open: "\e999";
$icon-briefcase: "\e99a";
$icon-bubble: "\e99b";
$icon-bubbles: "\e99c";
$icon-speech: "\e99d";
$icon-bulb: "\e99e";
$icon-calculator: "\e99f";
$icon-calender: "\e9a0";
$icon-phone: "\e9a1";
$icon-call-end: "\e9a2";
$icon-call-in: "\e9a3";
$icon-call-out: "\e9a4";
$icon-camera: "\e9a5";
$icon-camrecorder: "\e9a6";
$icon-chart: "\e9a7";
$icon-social-tumblr: "\e9a8";
$icon-social-vkontakte: "\e9a9";
$icon-social-stumbleupon: "\e9aa";
$icon-social-steam: "\e9ab";
$icon-social-spotify: "\e9ac";
$icon-social-soundcloud: "\e9ad";
$icon-social-github: "\e9ae";
$icon-social-foursqare: "\e9af";
$icon-social-instagram: "\e9b0";
$icon-social-pintarest: "\e9b1";
$icon-social-dropbox: "\e9b2";
$icon-social-dribbble: "\e9b3";
$icon-social-reddit: "\e9b4";
$icon-paypal: "\e9b5";
$icon-social-behance: "\e9b6";
$icon-social-google: "\e9b7";
$icon-social-facebook: "\e9b8";
$icon-social-linkedin: "\e9b9";
$icon-social-twitter: "\e9ba";
$icon-social-youtube: "\e9bb";
$icon-social-skype: "\e9bc";

